/*RESET
---------------------------------------------------------------------*/

*,
*:before,
 ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: Arial,Helvetica, sans-serif;
    font-size: inherit;
    background: #2b8eea;
}

input,
select,
iframe,
button {
    border: none;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4 {
    color: #fff;
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
    color: inherit;
}

a {
    color: #fff;
    transition: all 4.s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #f9014d;
}

img {
    max-width: 100%;
    border: none;
}


/*GERAIS
---------------------------------------------------------------------*/

.section {
    float: left;
    width: 100%;
    height: 100%;   
}
.content {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
}


/*loadmore*/

.loadmore {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.loadmore:hover {
    color: #a70606;
    border: 1px solid #a70606;
}


/*box
---------------------------------------------------------------------*/


/*header
---------------------------------------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 6;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header .logo img {
    margin-right: 100px;
    margin-top: 2px;
    width: 70px;
    max-width: 150px;
    background-size: cover;
}
.header.fixed {
    background-image: linear-gradient(to right, #54a4f6, #3c9afb);
    padding: 10px 0 10px 0;
    transition: all .5s ease-in-out;
}

/*search
---------------------------------------------------------------------*/

.search-box {
    text-align: center;
    color: #fff;
    padding: 100px 0;
    background-image: url('../imagens/img/a2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slideBg 10s ease-in-out 1s;
    animation-iteration-count: infinite;
    transition: all .300ms ease-out;
   
}
@keyframes slideBg{
    0%{
        background-image: url('../imagens/img/a2.jpg');
        
    }
    100%{
        background-image: url('../imagens/img/a3.jpg');

    }

}

/*Parallax
--------------------------------------------------------------------*/

.parallax {
    float: left;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 23px;
    padding: 160px 0px;
    background-image: linear-gradient(to right, #ff837d, #db554e);
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}

.parallax h1 {
    font-size: 38px;
    margin-bottom: 10px;
}

.parallax button {
    background: #f9014d;
    font-size: 20px;
    color: #fff;
    padding: 10px 15px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}

.parallax button:hover {
    background: #e92863;
}

/*Footer(rodapé)
---------------------------------------------------------------------*/

.footer {
    background: #181818;
    float: left;
    width: 100%;
    color: #fff;
    padding: 30px 0;
}

.footer-col {
    width: 100%;
    float: left;
    margin-bottom: 30px;
}

.footer-col h1 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}


/*sobre empresa*/

.footer-col .links-uteis li {
    color: #fff;
    padding: 10px 0;
}

.footer-col .links-uteis li:not(:last-of-type) {
    border-bottom: 1px solid #fff;
}


/*rede sociais*/

.footer-col-social li {
    padding: 10px 0;
}

.footer-col-social li .fab {
    color: #ccc;
    background: #000;
    font-size: 20px;
    margin-right: 5px;
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}


/*autorais*/

.footer-autorais {
    padding: 20px;
    border-top: 1px solid #fff;
    color: #ccc;
}


/*BREACKPOINTS MÁXIMOS
---------------------------------------------------------------------*/

@media (max-width: 767.9px) {
    .header .logo img {
        float: left;
        width: 50px;
        
    }
    /* MENU */
   .header .nav {
    float: right;
    margin-left: 50px;
    
                      
    }
    .header .nav ul li {
        font-size: 70%;
        display: inline-block;
        margin-left: 10px; 
    }
    .header .nav ul li a {
        color: #fff;
    }
    .header .nav ul li a:hover {
        color: #f9014d;
    }
    .search-box {
    text-align: center;
    color: #fff;
    padding: 100%;
    background-image: url('../imagens/img/mobile/a2.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slideBg 10s ease-in-out 1s;
    animation-iteration-count: infinite;
    transition: all .300ms ease-out;
   
    }
    @keyframes slideBg{
    0%{
        background-image: url('../imagens/img/mobile/a2.jpg');
        
    }
    100%{
        background-image: url('../imagens/img/mobile/a3.jpg');

    }

}
    
}


/*BREACKPOINTS Minimos
---------------------------------------------------------------------*/

@media (min-width: 768px) {
    /*MENU*/
    .header .nav {
        float: right;
        margin-top: 13px;
    }
    .header .nav ul li {
        display: inline-block;
        margin-left: 20px;
    }
    .header .nav ul li a {
        color: #fff;
    }
    .header .nav ul li a:hover {
        color: #f9014d;
    }
    .header.fixed:hover{
    
        background-image: linear-gradient(to right, #2e14ed, #FFA07A);
        padding: 10px 0 5px 0;
    }
    /*search*/
    .search-box {
        padding: 410px 0;
    }
 
    /*destinos-col*/
    .destinos-col {
        width: 50%;
        margin-right: 2%;
        /*margin-top: 20px;*/
        float: left;
    }
    .destinos-col:nth-child(odd) {
        margin: 0;
    }
    .destinos-col:first-child {
        width: 100%;
    }
    /*destaques*/
    .destaques-col {
        width: 49%;
        margin-right: 2%;
        margin-bottom: 2%;
        float: left;
    }
    .destaques-col:nth-of-type(2n+0) {
        margin-right: 0;
    }
    /*testemunhas*/
    .testemunhas-article {
        width: calc((100% - 8%)/3);
        margin-right: 4%;
        margin-bottom: 4%;
    }
    .testemunhas-article:last-of-type {
        margin-right: 0;
    }
    /*footer*/
    .footer-col {
        width: 45%;
    }
    .footer-col:nth-child(2) {
        width: 30%;
        margin-left: 5%;
    }
    .footer-col:nth-child(3) {
        width: 15%;
        float: right;
    }
}

/*AUXILIARES
---------------------------------------------------------------------*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}
.h2-m{
    padding: 10px;
}
.h4-m{
    margin: -2px -3px 0 2px;
    padding: 10px;
    text-align: justify;   
}
.ban{
    float: left;
    text-align: justify;
    margin-left: 250px;
    margin-top: -180px
}
